body {
  margin: 0px;
  padding: 0px; }

.row {
  margin: 0px;
  padding: 0px; }

.index-main-section {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#86d7ce), to(#085078));
  background-image: -webkit-linear-gradient(top left, #86d7ce, #085078);
  background-image: -o-linear-gradient(top left, #86d7ce, #085078);
  background-image: linear-gradient(to bottom right, #86d7ce, #085078); }

.index-login-section {
  width: 100%;
  height: 100vh;
  background-color: #c8cbcf;
  display: inline-block; }
  .index-login-section #emailLogin {
    width: 85%; }

.line-top {
  width: 100%;
  background-color: #86d7ce;
  height: 10px; }

.navbar {
  width: 100%; }
  .navbar .active {
    border: 1px solid #86d7ce; }
