body {
  margin: 0px;
  padding: 0px; }

.row {
  margin: 0px;
  padding: 0px; }

.index-main-section {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#86d7ce), to(#085078));
  background-image: -webkit-linear-gradient(top left, #86d7ce, #085078);
  background-image: -o-linear-gradient(top left, #86d7ce, #085078);
  background-image: linear-gradient(to bottom right, #86d7ce, #085078); }

.index-login-section {
  width: 100%;
  height: 100vh;
  background-color: #c8cbcf;
  display: inline-block; }
  .index-login-section #emailLogin {
    width: 85%; }

.line-top {
  width: 100%;
  background-color: #86d7ce;
  height: 10px; }

.main-nav {
  width: 100%;
  height: 98.5vh;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #86d7ce;
  left: -17%;
  -webkit-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out; }
  .main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%; }
    .main-nav ul a {
      text-decoration: none;
      color: #86d7ce;
      font-weight: bold; }
      .main-nav ul a:hover {
        color: black;
        font-weight: bold; }
    .main-nav ul a li {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #86d7ce; }
      .main-nav ul a li img {
        padding-left: 8px;
        margin-right: 8px; }

.view-menu {
  width: 100%;
  padding-left: 0px;
  height: 98.5vh;
  left: -16.5%;
  padding-top: 8px;
  -webkit-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out; }
  .view-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .view-menu ul li img:hover {
      cursor: pointer; }
